@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Reseting */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #999;
}

::selection {
  color: white;
  background: #999999;
}
input:focus {
  outline: 0;
}
input {
  font-family: 'Times New Roman';
  font-size: 1rem;
  color: #444444;
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

/* General */
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f7f1;
  color: #444444;
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.loader {
  margin: auto;
}
.loader img {
  width: 500px;
  filter: grayscale(100%);
}

/* Header */
.header {
  border-bottom: #444444 solid 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header h1 {
  margin: 1rem;
  font-family: 'UnifrakturMaguntia';
  font-size: 5rem;
}

.subhead {
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: #444444 solid 2px;
}
.search-form {
  font-size: 1.5rem;
}
.search-form input {
  font-size: 1.5rem;
  border: none;
  width: 300px;
}
.search-form span {
  font-size: 1rem;
  cursor: pointer;
}
.search-form span.active {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 3rem;
  }
  .header-date {
    display: none;
  }
  .header-category {
    display: none;
  }
  .subhead-next-group {
    display: none;
  }
  .subhead-prev-group {
    display: none;
  }
}

/* Content and Column */
.body {
  margin-top: 2px;
  border-top: 2px solid #444444;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 33%;
  padding: 1rem;
}
.column h3 {
  font-size: 2rem;
}
.column p {
  text-align: justify;
}
.column img {
  mix-blend-mode: multiply;
  width: 100%;
  filter: grayscale(100%);
  opacity: 80%;
  transition: opacity 0.3s ease-in-out;
}
.column img:hover {
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}
.column-footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Details Page */
.details-columns {
  column-count: 3;
  column-gap: 50px;
}
.details-columns > p:first-of-type::first-letter {
  font-size: 3rem;
}
.details-columns img {
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  width: 100%;
  height: auto;
}
.details-columns iframe {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
}
.details-columns p {
  text-align: justify;
}
.details-header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-header h1 {
  width: 50%;
}
.details-header p {
  width: 20%;
}
.details-header p.left {
  text-align: left;
}
.details-header p.right {
  text-align: right;
}
@media screen and (max-width: 900px) {
  .details-columns {
    column-count: 2;
    column-gap: 50px;
  }
}
@media screen and (max-width: 600px) {
  .details-header h1 {
    width: 100%;
  }
  .details-header p {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .details-columns {
    column-count: 1;
    column-gap: 0px;
  }
}

/* Sections Page */
.sections {
  margin-top: 1rem;
  display: flex;
}
.sections-body {
  flex: 1;
}
.sections-body h1 {
  text-transform: capitalize;
}
.sections-index {
  margin-right: 2rem;
  text-align: center;
  flex: 0 0 250px;
  border-right: 1px solid #444444;
  border-left: 1px solid #444444;
}
.sections-index span {
  font-weight: 600;
}
.sections-index ul {
  padding-left: 0;
}
.sections-index li {
  cursor: pointer;
  list-style: none;
  min-height: 1.2rem;
}
.sections-index li:hover {
  font-weight: 600;
}
